/* Стиль для заголовків */
label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

/* Стиль для інпутів */
input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Стиль для кнопки */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Стиль для виділення помилок */
.error {
    background-color: lightcoral;
}